@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #4f46e5;
  --secondary-accent: #ec4899;
} /* Indigo/Pink for Light */
.dark {
  --accent: #ccff00;
  --secondary-accent: #06b6d4;
} /* Lime/Cyan for Dark */

body {
  cursor: none;
  background-color: black;
}
.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
